<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="sticky-top">
            <h1 class="text-center p-3 mb-2 bg-info text-dark">Django Web Development : SAMPLE</h1>
        </div>
        <div class="c1 text-center">
            {% block b1 %}
            {% endblock %}
        </div>
        <div class="container fixed-bottom">
            <h1 class="text-center p-3 mb-2 bg-info text-dark">Thanks for visiting</h1>
        </div>
    </div>
</body>
</html>